<html ng-app="agoraApp">
    <head>
        <title>Agora Chat</title>
        <script type='text/javascript' src='angular.min.js'></script>
        <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
        <script type='text/javascript' src='angularfire.min.js'></script>
        <script type='text/javascript' src='md5.js'></script>
        <script type="text/javascript" src="agora_client.js"></script>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-controller="MessageController">
        <div ng-repeat="msg in messages">
            <p>
                <img src="http://www.gravatar.com/avatar.php?gravatar_id={{msg.md5}}&r=PG&s=25&default=identicon">
                <span class="user">{{msg.user}}: </span>
                {{msg.message}}
            </p>
        </div>
        <input type="text" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message...">
    </body>
</html>
